header{
    
    box-sizing: inherit;
}
#mainHeading{
    color: red;
    text-align: center;

}
#dice{
    height: 400px;
}
body {
    margin: 8px;
    display: block;
}
.funParagraph {
    color: green;
}